.time-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 65vh;
    width: 60vw;
}

/* Project Input Box and the Dropdown*/
.project {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.project-title {
    font-size: 2rem;
}

.input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 60%;
}

input[type="text"] {
    width: calc(100% - 30px);
}

.toggle-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    margin-left: -30px;
}

.suggestions-list {
    position: absolute;
    top: 100%;
    left: 40%;
    right: 5%;
    border: 1px solid #9C52E521;
    border-radius: 10px;
    border-top: none;
    background-color: #ececec;
    z-index: 1000;
}

.suggestions-list div {
    padding: 10px;
    cursor: pointer;
}

.suggestions-list div:hover {
    background-color: #9C52E521;
}

/* END of Project Input Box */



.task-title, .time-title {
    font-size: 1.5rem;
    text-wrap: none;
}


