<nav>
    <div class="nav-pages">
        <a routerLink="projects" routerLinkActive="active-link">Projects</a>
        <a routerLink="time-input" routerLinkActive="active-link">Time Input</a>
        <a routerLink="time-entry" routerLinkActive="active-link">Time Entry</a>
    </div>
    <div class="nav-functions">
        <div class="user-info">
            <p>Username: {{username}}</p>
            <p>Role: </p>
        </div>
        <button (click)="logout()">Logout</button>
    </div>
</nav>
