<div class="create-project-container">
    <!--Time Input Form-->
    <form [formGroup]="createProjectForm" (ngSubmit)="onSubmit()">
        <h1>Create New Project</h1>
        <div class="project">
            <label for="title" class="field-title">Project: </label>
            <input type="text" placeholder="Enter a title for your project" formControlName="title"/>
        </div>
        <div class="totalHours">
            <label for="totalHours" class="field-title">Time to complete: </label>
            <input type="text" placeholder="How many total hours?" formControlName="totalHours"/>
        </div>
        <div class="description">
            <label for="description" class="field-title">Description: </label>
            <textarea type="text" placeholder="Enter a description of the project here" formControlName="description"></textarea>
        </div>

        <app-formatted-button [disabled]="createProjectForm.invalid">Create New Project</app-formatted-button>
    </form>
</div>
