.create-project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 70vh;
    padding: 1rem;

}

h1 {
    color: white;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.field-title {
    color: white;
}

.totalHours, .project {
    display: flex;
    justify-content: space-between;
}

.action-buttons {
    display: flex;
    justify-content: space-evenly;
}