.login-background {
    background-color: #B9B9B951;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 45%;
    height:auto;
}