<div class="login-background">
    <div class="login-container">
        <div class="login">
            <div class="login-title">
                <h1>Time Tracking App</h1>
            </div>
            <!--Username Input Box-->
            <input type="text" placeholder="Username" [(ngModel)]="username"/>
            <!--Password Input Box-->
            <input type="password" placeholder="Password" [(ngModel)]="password"/>    
            <app-formatted-button (buttonClick)="login(username, password)">Login</app-formatted-button>
        </div>
    </div>
</div>


